@import 'styles/variables.scss';

.button {
   cursor: pointer;
   width: 50px;
   height: 50px;
   border: 1px solid #9BA5BA;
   border-radius: 50%;
   margin-right: 20px;
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   &:hover, &:active {
    border: 1px solid $color-primary;
    background-color: white;
   }
   &.right svg {
    transform: rotate(180deg);
   }
   &.disabled {
    border: none;
    background-color: transparent;
   }
   &.disabled path {
    stroke: #9BA6BA;
   }
 }

.swiper-button {
  background-color: white;
  width: 40px;
  height: 40px;
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

.image-swiper-button-prev {
  position: absolute;
  left: -50px;
  top: calc(50% - 20px);
}

.image-swiper-button-next {
  position: absolute;
  right: 0;
  top: calc(50% - 20px);
}

.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}


