@import 'styles/variables.scss';

.container-mobile {
  gap: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: left;
}

.timeLine__controller {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  gap: 30px;
}

.timeLine__controller-point {
  cursor: pointer;
  width: 8px;
  height: 8px;
  display: block;
  background-color: #ADB5C6;
  border: 1px solid #ADB5C6;
  border-radius: 50%;
  &.active {
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.years-mobile {
  text-align: center;
}

.theme-mobile__title {
  color: $color-primary;
}

.theme-mobile__line {
  color: #C7CDD9;
}

.circleGroup {
  cursor: pointer;
}

.circleBlock {
  position: relative;
}

.timeLine-mobile {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.timeLine__title {
  color: $color-primary;
}

.timeLineNavigationContainer {
  text-align: left;
}

.timeLine__navigation {
  margin-top: 10px;
}

.timeLine__navigation-btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  background-color: white;
  margin-right: 20px;

  .active {
    border: 1px solid $color-primary;
  }
}

