.wrapper {
   margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 60px;
   padding-left: 60px;
 }
.circle {
   fill: #42567a;
   transition: transform 0.5s ease-in-out;
 }
 .circleGroup:hover > circle {
   transform: scale(5);
   fill: white;
   stroke: #303e58;
   stroke-width: 0.1;
 }
 .circleGroup:hover > .textNumber {
   opacity: 1;
   visibility: visible;
   display: block;
   font-size: medium;
   transition: transform 1s ease-in-out;
 }
 .circleActive .circle {
   transform: scale(5);
   fill: white;
   stroke: #303e58;
   stroke-width: 0.1;
 }
 .textNumber {
   opacity: 0;
   display: none;
   font-size: 0;
   visibility: hidden;
   transition: transform 1s ease-in-out;
 }
 .textTitle {
   font-size: 0;
   visibility: hidden;
 }
 .circleActive .textTitle {
   transition-delay: 1s;
   visibility: visible;
   display: block;
   transform: translateX(80px);
   font-size: medium;
 }
 .circleActive .textNumber {
   opacity: 1;
   visibility: visible;
   display: block;
   font-size: small;
   transition: transform 1s ease-in-out;
 }
 .circleGroup {
   cursor: pointer;
 }
 .circleBlock {
   position: relative;
 }
 .circleBlock:before {
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   border-top: 1px solid #F2F3F8;
   background: #F2F3F8;
   width: 100%;
   transform: translateY(-50%);
   z-index: -1;
 }
 .circleBlock__header {
   display: flex;
 }
 .circleBlock__header::before {
   content: url("../../assets/Vector\ 17.svg")
 }
 .circleBlock__header-text {
   font-size: 2em;
   color: #5d5fef;
   margin: -10px;
   margin-left: 20px;
 }
 .circleBlock__years {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }
 .circleBlock__years-first {
   color: #5d5fef;
   font-size: 160px;
   margin-right: 30px;
 }
 .circleBlock__years-second {
   color: #ef5da8;
   font-size: 160px;
 }
 .circleBlock__circle svg {
   display: block;
   margin: 0 auto;
 }
 .timeLine {
   display: inline-block;
   align-items: start;
 }
 .timeLine__title {
   color: #42567a;
 }





