@import '../../styles/variables.scss';

@media (min-width:768px) {
   .font-year__big {
      font-size: calc(15px + 15vw);
   }
}
/* $small: 700px;
$medium: 900px;

.font-year__big {

  @media screen and (max-width: $small) {
   font-size: 12px
  }
  @media screen and (min-width: $medium) {

  }
} */
.circleBlock__years {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .circleBlock__years-first {
   color: $color-blue;
   margin-right: 30px;
 }

 .circleBlock__years-second {
   color: $color-pink;
 }
