@import 'styles/variables.scss';

@media (max-width:1000px) {
  .font-year__big {
     font-size: 130px !important;
  }
}

.circleBlock__years {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .circleBlock__years-first {
   color: $color-blue;
   margin-right: 30px;
 }

 .circleBlock__years-second {
   color: $color-pink;
 }

.svgLineRight {
  position: absolute;
  top: -265px;
  left: 705px;
  z-index: -10;
}

.years-wrapper {
 display: flex;
}

.bounce {
  display: inline-flex;
  justify-content: center;
}

.bounce span {
  display: inline-flex;
  animation: bounce .5s infinite;
  animation-iteration-count: 1
}

@keyframes bounce {
  0%,
  50%,
  100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-10px);
  }
}
.bounce span:nth-of-type(1) {
  animation-delay: 0.1s;
}
.bounce span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.lineRight {
  content: "";
  height: 100vh;
  width: 1px;
  background-color: #D0D5E0;
  position: absolute;
  top: -265px;
  left: 75%;
  z-index: -10;
}
